<div class="home__container">
  <div class="text__container">
    <span class="home__title"
      >Let's Find Some <span class="orange__text">Arts</span> Here!</span
    >
  </div>
</div>

<div class="home__container__input">
  <div class="input__container">
    <input
      type="text"
      class="home__input"
      placeholder="Search Art, Artist, Work..."
      [(ngModel)]="searchString"
      (input)="searchArts()"
    /><img src="icons/search.png" class="home__input__image" alt="Поиск" />
  </div>
</div>

<div class="pictures__container__input" *ngIf="searchString && searchString !== ' ' && searchString.length > 1">
  @for (picture of searchPictures; track picture.id) {
    <div class="picture__item">
      <a
        class="link__menu"
        [routerLink]="['details', picture.id]"
        routerLinkActive="active"
      >
        <img [src]="picture.image_url" alt="No image" class="image__item" />
      </a>
      <div class="picture__text__container">
        <div class="picture__text__title">{{ picture.title }}</div>
        <span class="picture__text__artist">{{ picture.artist_title }}</span>
        <span class="picture__text_public">Public</span>
      </div>
      <div class="picture__favorites">
        <button class="button__favorites" (click)="setToFavorites(picture)">
          <img src="icons/Vector.png" alt="" />
        </button>
      </div>
    </div>
  }

  <select name="sort" (change)="selectChanged($event)" class="input__select">
    <option value="title">Отсортировать по названию</option>
    <option value="author">Отсортировать по автору</option>
    <option value="place">Отсортировать по стране</option>
  </select>
</div>

<div class="home__container__text">
  <span class="little__text">Topics for you</span>
  <span class="big__text">Our special gallery</span>
</div>

<div class="pagination__pictures" *ngIf="!loading">
  @for (picture of paginationPictures; track picture.id) {
    <div class="pagination__item">
      <a
        class="link"
        [routerLink]="['details', picture.id]"
        routerLinkActive="active"
      >
        <div class="image__container">
          <img [src]="picture.image_url" alt="" class="image__item" />
        </div>
      </a>
      <div class="pagination__text__container">
        <div class="picture__text__container">
          <div class="picture__text__title">{{ picture.title }}</div>
          <span class="picture__text__artist">{{ picture.artist_title }}</span>
          <span class="pagination__text__public">Public</span>
        </div>
        <div class="pagination__button">
          <button class="button__favorites" (click)="setToFavorites(picture)">
            <img src="icons/Vector.png" alt="" />
          </button>
        </div>
      </div>
    </div>
  }
</div>

<app-loading-spiner *ngIf="loading"></app-loading-spiner>

<div class="navigation" *ngIf="!loading">
  <ngb-pagination
    [collectionSize]="paginationParameters.total"
    [(page)]="paginationParameters.current_page"
    [maxSize]="3"
    [rotate]="true"
    [boundaryLinks]="true"
    (pageChange)="onPageChanged($event)"
  />
</div>

<div class="home__container__text">
  <span class="little__text">Here some more</span>
  <span class="big__text">Other works for you</span>
</div>

<app-loading-spiner *ngIf="loading"></app-loading-spiner>

<div class="pictures__container" *ngIf="!loading">
  @for (picture of pictures; track picture.id) {
    <div class="picture__item">
      <a
        class="link__menu"
        [routerLink]="['details', picture.id]"
        routerLinkActive="active"
      >
        <img [src]="picture.image_url" alt="No image" class="image__item" />
      </a>
      <div class="picture__text__container">
        <div class="picture__text__title">{{ picture.title }}</div>
        <span class="picture__text__artist">{{ picture.artist_title }}</span>
        <span class="picture__text_public">Public</span>
      </div>
      <div class="picture__favorites">
        <button class="button__favorites" (click)="setToFavorites(picture)">
          <img src="icons/Vector.png" alt="" />
        </button>
      </div>
    </div>
  }
</div>
